* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden; 
}
body{
    background-color:  #F2E4D8;
}
hr{
    border:0.15vmax solid #000000;
    width: 75%;
}
label{
    padding: 0% 1.2% 0% 0%;
  margin-top: 0.1vh;
    width: 95%;
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: semibold;
    font-size: 3.3vmin;

   
 
   
 
    color:#3E674F;
    letter-spacing: -0.02em;
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
   text-align:  left !important;
 
}

nav {
    
    width: 100%;
position: fixed;
  height: 7vh;
    left: 0px;
    top: 0px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2% 2% 2%;

}

li{
    color: #9b9898;
}
.button{
    
    margin-top: 3vmin; 
   width: 50vmin;
   height: 13vmin;
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    font-size: 3vmin;
    background: #3E674F;
    border: 0.3vw solid #ffffff;
box-shadow: 1.5vh 1.5vh 1.5vh rgba(0, 0, 0, 0.25);
border-radius: 1.5vmax;
color: white;
font-style: normal;
font-weight: bold;
text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
cursor: pointer;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding-left: 1.5%;

}
.timeline{

height:100vh;
    overflow-y: scroll;
   
}.create-post{
    margin-top:7vh;
    display: flex;
    justify-content: center;
    height: 100vh;
   
    
}
#postForm{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
width:80%;
height:100%
}
.posts-container{
    margin-top:2vh;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        
    } 
    .posts-container>div{
        margin-top:1vh;
        height:30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
            
        } 
.div{
    width:50vmin;
}

.gicon{

height: 100%;


}
.post-div{
    
width: 294px;
height: 209px;
left: 35px;
top: 313px;

background: rgba(251, 251, 251, 0.37);
border: 1.5px solid #F2E4D8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;
}
.menu{
    color:white;
    filter: invert(100%);
    width: 6vmin;
    height: 5vmin;
    cursor: pointer;
}
.logo{
    padding-top: 0.5%;
    width:40vmin;
    height: 6vmin;
    cursor: pointer;
}
.secondary-container{
    height: 30vh;
    display:flex;
    flex-direction: column;
   justify-content: space-evenly;
    align-items: center;
    background-color:  #F2E4D8;
      
}
.secondary-container>input{
margin-top: 5vh; 
   width: 45vmin;
   height: 12.5vmin;
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    font-size: 4vmin;
    background: #000000;
border:0.5vmin solid #ffffff;
box-shadow: 1.5vh 1.5vh 1.5vh rgba(0, 0, 0, 0.25);
border-radius: 1.5vmax;
color: white;
font-style: normal;
font-weight: bold;
text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
cursor: pointer;


}

.secondary-container>p{
    font-family: 'Actor';
font-style: normal;
font-weight: normal;
font-size: 2.8vh;
line-height: 3.5vh;
letter-spacing: 0.02em;
color: #000000;
margin-top: 2.5vh;
;

}
.secondary-container>a{
    font-family: 'Delius Unicase';
font-style: normal;
font-weight: bold;
font-size: 2.8vh;

color:#3E674F;
letter-spacing: -0.02em;
text-decoration-line: underline;
text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
cursor: pointer;



}
.s-button{
   
    width: 3vmax;
    position:absolute;
right: 16%;
    top: 51%;
    z-index: 5px;
}
#seeLps{
       
    width: 3vmax;
    position:absolute;
right: 16%;
    top: 46%;
    z-index: 5px;
}
.signUp-container {
    margin-top:7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height: 100vh;
   

}
.signUp-container>h2{
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: bold;
    font-size: 4.95vmin;
    
    color:#3E674F;
    letter-spacing: -0.02em;
 
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
    width:60%;
    text-align: center;
    margin-top:5vh;
  
}
.signUp-container>form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  align-items: center;

   
    
    color:#3E674F;
   
 
  
    width:70%;
    margin-top: 4.5vmin;
    height:50vh;
    margin-bottom: 1vmin;
 
}
.signUp-container>form>input{
  
    margin-bottom: 2%;
  outline: none;
  border: none;
  background-color:#F2E4D8 ;
  border-bottom: 0.4vh solid #000000 ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:2.3vmax;
  line-height: 2.8vmax;
  

   
    
    color:#000000;
   
 
  
    width:95%;
 
  
 
}
#signUpSubmit, #loginSubmit{
   
    margin-top: 1.5vmin; 
   width: 50vmin;
   height: 13vmin;
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    font-size: 4vmin;
    background: #000000;
    border: 0.3vw solid #ffffff;
box-shadow: 1.5vh 1.5vh 1.5vh rgba(0, 0, 0, 0.25);
border-radius: 1.5vmax;
color: white;
font-style: normal;
font-weight: bold;
text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


    }

.return{
    height:6vmin;
    position: absolute;
    top:85vh;
    right:25vh;
    
    cursor:pointer;


}
.welcome-container{
    margin-top:7vh;
    display: flex;
    flex-direction: column;
    
        align-items: center;
        padding-top:15vh;
    height:55vh;
    background-image: url(fondo.jpg);
    background-size:125% 100%;
   background-repeat: no-repeat; 
}
.welcome-container>h1{
    width:60vw;
    color: #ffffff;
    font-family: 'Delius Unicase', cursive;
    font-size: 3vmax;
    text-align: center;
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
}
@media (min-width:568px) {
    .s-pw{
   
      
        top: 48.5%;
     
    }
}
@media (min-width:768px) {
    .s-pw{
   
      
        top: 53.5%;
     
    }
}
@media (min-width:812px) and (orientation:landscape) {
    .s-pw{
   
      
        top: 49%;
     
    }
}
@media (min-width:1024px) and (orientation:portrait) {
    .s-pw{
   
      
        top: 53%;
     
    }
}





