* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  overflow-x: hidden;
    overflow-y: hidden; 
}

body {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

}

hr {
    border: 0.15vmax solid #000000;
    width: 75%;
}

label {
    padding: 0% 1.2% 0% 0%;
    margin-top: 0.1vh;
    width: 95%;
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: semibold;
    font-size: 3.2vmin;
    color: #3E674F;
    letter-spacing: -0.02em;
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
    text-align: left !important;
}

nav {
    width: 100%;
    position: fixed;
    height: 7vh;
    left: 0px;
    top: 0px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2% 2% 2%;
}
footer{
    width: 100%;
    position: fixed;
    height: 7vh;
    left: 0px;
    top: 93vh;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 2% 2% 2%;
}


.icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    right: 1vh;
    height: 90%;
  

}

.icon {
    
    height: 5vh;
    cursor: pointer;
   
}
.button{
    margin-top: 3vmin;
    width: 50vmin;
    height: 13vmin;
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    font-size: 3vmin;
    background: #3E674F;
    border: 0.3vw solid #ffffff;
    box-shadow: 1.5vh 1.5vh 1.5vh rgba(0, 0, 0, 0.25);
    border-radius: 1.5vmax;
    color: white;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1.5%;
}
.nameInWelcome{
   
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    color: ivory;
    font-family: 'Delius Unicase', cursive;
    font-size: 3vmin;
    font-weight: bold;
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
    cursor: pointer;

}
.nameInWelcome>p{
    margin-right: 1vh;
}

.timeline {
    margin: 0 auto;
    margin-top: 3vh !important;
    height:89.953vh;
    overflow-y: scroll;
    

  
}

.profile-timeline{
    margin-top: 3vh;
    
  
}

.create-post {
    margin-top: 7vh;
    display: flex;
  justify-content: center;
    height: 94vh;
}
#postForm{
    display: flex;
    flex-direction: column;
  /*   justify-content: space-around; */
    align-items: center;
    color: #3E674F;
    width: 86%;
    margin-top: 4.2vmin;
/*     height: 100vh; */
    margin-bottom: 1vmin;
}
.secondary-container>input {
    margin-top: 5vh;
    width: 45vmin;
    height: 12.5vmin;
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    font-size: 4vmin;
    background: #000000;
    border: 0.5vmin solid #ffffff;
    box-shadow: 1.5vh 1.5vh 1.5vh rgba(0, 0, 0, 0.25);
    border-radius: 1.5vmax;
    color: white;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.profile>form>input{
    margin-bottom: 2%;
    outline: none;
    border: none;
    background-color: ivory;
    /* border-bottom: 0.4vh solid #000000; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3vmax;
    line-height: 4.7vmax;
    color: #000000;
    width: 95%;
    border-radius: 5%;
    box-shadow: 0.5vh 0.5vh 0.7vh rgba(0, 0, 0, 0.25);
}
.signUp-container>form>input {
    box-shadow: 0.5vh 0.5vh 0.7vh rgba(0, 0, 0, 0.25);
    /* margin-bottom: 2%; */
    outline: none;
    border: none;
    background-color: ivory;
    /* border-bottom: 0.4vh solid #000000; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3vmax;
    line-height: 4.7vmax;
    color: #000000;
    width: 95%;
    border-radius: 5%;
}
#postForm>input{
    margin-bottom: 2%;
    outline: none;
    border: none;
    background-color: ivory;
    /* border-bottom: 0.4vh solid #000000; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3vmax;
    line-height: 4.7vmax;
    color: #000000;
    width: 95%;
    border-radius: 5%;
    box-shadow: 0.5vh 0.5vh 0.7vh rgba(0, 0, 0, 0.25);
}


.create-post>form>h3, .instruccion{
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 4.95vmin;
    color: #3E674F;
    letter-spacing: -0.02em;
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 4vmin;
    }
#content-input{
    box-shadow: 0.5vh 0.5vh 0.7vh rgba(0, 0, 0, 0.25);
    height: 45vh;
    margin-bottom: 2%;
    outline: none;
    border: none;
    background-color: ivory;
    /* border-bottom: 0.4vh solid #000000; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3vmax;
    line-height: 3.5vmax;
    color: #000000;
    width: 95%;
    border-radius: 2%;
    overflow-y: scroll;
}
.photo-user{
    border-radius: 50%;
  
    margin-top: 0.5vmax;
       height: 72%;
       cursor: pointer;
}
.timeline>.post-div, .profile-timeline>div{
    height: fit-content;
    border:0.05px solid #6262622d ;
    margin: 0 auto;
    width:93.5%;
    border-radius: 3%;
    box-shadow: 0.5vh 0.9vh 0.9vh 0vh rgba(128, 128, 128, 0.644);
margin-top: 1.5vh !important;
background-blend-mode:screen;
background-color: #f1ece983;
}

.post-header{
    height:15%;
    border-bottom: 0.05px solid #6262622d ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    background-color: ivory;
     
  
}
.post-header>.div-user{
    margin-left: 0.5vmax;
    width:80%;
    display: flex;
    flex-direction: row;
        align-items: center;
    font-family: 'Delius Unicase', cursive;
    font-weight: bold;
    font-size: 3.5vmin;
    color:#3E674F;
    text-shadow: 0 10% 10% 0 solid grey;
 
  
}
.secondary-container>p {
    font-family: 'Actor', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2.8vh;
    line-height: 3.5vh;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 2.5vh;
    
}
.post-header>.div-user>p{
    margin-left: 1%;

}

.post-header>.fecha>p{
    text-align: center;
    color: #3E674F;
      
   }

.post-header>.fecha{
    width:20%;
    justify-content: center;
    font-family: 'Delius Unicase', cursive;
    font-size:3vmin;
   
}

.user-post{
    height: 8vmax;
    margin-left: 2%;
    
}
.post-autor{
    margin-top: 1vh;
    height: 8vmax;
    font-family: 'Delius Unicase', cursive;
    font-weight: bold;
    font-size: 3.5vmin;
    color: black;
    text-shadow: 0 10% 10% 0 solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
 
}
.post-autor>h2{
   color: #3E674F
 
}
.content{   
    margin: 0 auto;
    margin-top: 1vh !important;
    width:93%;


}
.content-text{
  margin-top: 1vh;
   height: 100%;
    text-align: justify;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
font-size: 3.4355vw;
  
    
}
.hidden{
    display: none
}
.photo-In-Post{
    height: 30vh;
    align-self: center;
    margin-top: 1.5vh;
}
.image-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.like-buttons{
    display: flex;
    margin-top: 2vh;
    height: 5.8vmax;
    border-top: 0.05px solid #6262622d ;
    color: #3E674F;
    font-family: 'Delius Unicase', cursive;
    font-size: 4vmin;
    font-weight: bold;
justify-content: center;
    
}
.tooltip{
 
    color: #3E674F;
    font-family: 'Delius Unicase', cursive;
    font-size: 4vmin;
    font-weight: bold;
    margin-right: 3vw;
}
.tooltip:hover{
    color:black
}
.post-icon{
    height:3vh;
   
    cursor: pointer;
    margin-right: 2vw;
   
   
}



.delete{
    height: 83%;
    cursor: pointer;
}
.profile-conteiner{
    height: 93vh;
    overflow-y: scroll;
    margin: 0 auto;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 7vh !important;

    
}
#profileImage{
    height: 25vh;
    width: 50%;
    border-radius: 50%;
}
.profile>form{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%
}










.div {
    width: 50vmin;
}

.gicon {
    height: 100%;
}

.menu {
    color: white;
    filter: invert(100%);
    width: 6vmin;
    height: 5vmin;
    cursor: pointer;
}

.logo {
    padding-top: 0.5%;
    width: 40vmin;
    height: 6vmin;
    cursor: pointer;
    
}

.logo1 {
    margin-top: 5%;
}

.secondary-container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}



.secondary-container>a {
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 2.8vh;
    color: #3E674F;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.s-button {
    width: 2.5vmax;
    position: fixed;
    right: 16%;
    top: 45.9%;
    z-index: 5px;
}

#seeLps {
    width: 2.5vmax;
    position: fixed;
    right: 16%;
    top: 42.7%;
    z-index: 5px;
}

.signUp-container {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.signUp-container>h2,
.welcome {
    font-family:'Delius Unicase', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 4.95vmin;
    color: #3E674F;
    letter-spacing: -0.02em;
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
    width: 60%;
    text-align: center;
    margin-top: 5vh;
}

.signUp-container>form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #3E674F;
    width: 80%;
    margin-top: 4.2vmin;
    height: 52vh;
    margin-bottom: 1vmin;
}



#signUpSubmit,
#loginSubmit,  #publicar {
    margin-top: 1vmin;
    width: 50vmin;
    height: 13vmin;
    text-align: center;
    font-family: 'Delius Unicase', cursive;
    font-size: 4vmin;
    background: #000000;
    border: 0.3vw solid #ffffff;
    box-shadow: 1.5vh 1.5vh 1.5vh rgba(0, 0, 0, 0.25);
    border-radius: 1.5vmax;
    color: white;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.return {
    height: 7vmin;
    position: absolute;
    top: 87vh;
    cursor: pointer;
}

.warning {
    text-align: center;
    height: 5.5vh;
    font-size: 3.4vmin;
}

#errorMesagge1 {
    text-align: center;
    height: 6.5vh;
    font-size: 1vmax;
}

.welcome-container {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    height: 63vh;
    background-image: url(./icons&img/fondo.jpg);
    background-size: 125% 100%;
    background-repeat: no-repeat;
}

.welcome-container>h1 {
    width: 60vw;
 color: #ffffff;
    font-family: 'Delius Unicase', cursive;
    font-size: 3vmax;
    text-align: center;
 text-shadow: 0.1vmax 0.1vmax rgba(0, 0, 0, 0.1);


}
@media (min-width:375px) {
    .s-button {
        top: 45.7%;
    }
    .content-text{
       
        font-size:3.5vw;
          
            
        }
}
@media (min-width:414px) {
    .s-button {
        top: 45.9%;
    }
    .content-text{
       
        font-size:3.4vw;
          
            
        }
}
@media (min-width:488px) {
    .s-button {
        top: 45.9%;
    }
    .return {
        right: 15vw;
    }
    .content-text{
       
        font-size: 3vw;
          
            
        }
        #seeLps{
            top: 45.9%;
      
    }
}

@media (min-width:596px){
    .s-button {
        top: 46.9%;
    }
    .content-text{
       
      font-size: 2.9vw;
        
          
      }
      #seeLps{
        top: 47.9%;
  
}}
@media (min-width:638px){
    .content-text{
       
      font-size: 2.565vw;
        
          
      }
      #seeLps{
        top: 45.5%;
    }
    .s-button {
        top: 45.5%;
    }
}
 

@media (min-width:768px) {
    .s-button {
        top: 48.5%;
    }
    .content-text{
       
        font-size: 2.5vw;
          
            
        }
        #seeLps{
            top: 43.7%;
        }
}

@media (min-width:812px) {
    .s-button {
        top: 45%;
    }

   
        .content-text{
           
            font-size:2.595vw;
              
                
            }
            #seeLps{
                top: 45.5%;
            }
    
}

@media (min-width:1024px) and (orientation:portrait) {
    .s-button {
        top: 51%;
    }
    .content-text{
           
        font-size:3vw;
          
            
        }
        #seeLps{
            top: 43.5%;
        }
}